name: Build Test and Coverage

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  Build_Test_Coverage:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      
      - name: Restore Nuget Packages
        run: dotnet restore SectorFileCompiler.sln --packages packages

      - name: Run Build
        run: dotnet build /p:Configuration=Debug SectorFileCompiler.sln --nologo --no-restore /warnaserror;
      
      - name: Run Compiler Tests With Coverage
        if: matrix.platform == 'ubuntu.latest'
        run: |
          cd tests/CompilerTest
          dotnet dotcover test --dcReportType=DetailedXml --dcOutput=../../coverage/Compiler.xml

      - name: Run Compiler Tests
        if: matrix.platform != 'ubuntu.latest'
        run: |
          cd tests/CompilerTest
          dotnet test

      - name: Run Compiler CLI Tests With Coverage
        if: matrix.platform == 'ubuntu.latest'
        run: |
          cd tests/CompilerCliTest
          dotnet dotcover test --dcReportType=DetailedXml --dcOutput=../../coverage/Compiler.xml

      - name: Run Compiler CLI Tests
        if: matrix.platform != 'ubuntu.latest'
        run: |
          cd tests/CompilerCliTest
          dotnet test

      - name: Upload Code Coverage Reports
        if: matrix.platform == 'ubuntu-latest'
        run: |
          cd coverage
          bash <(curl -s https://codecov.io/bash) -f *.xml
